{% extends "base.html" %}

{% block titulo %}Home Page{% endblock %}

{% block content %}
<h1>Bem vindo ao Site</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minus et sint beatae odit doloremque adipisci possimus nobis vitae, qui facilis accusantium praesentium a eum excepturi autem incidunt sequi blanditiis!</p>
{% endblock %}

{% block content %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi necessitatibus minus quasi consequuntur at saepe repellat officia amet, ab exercitationem, doloribus corporis aut totam, quam error quis aliquid commodi. Porro.</p>
{% endblock %}